header {
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 1481.6px 637.29px;
}
.header-our {
    background-image: url(img/bg-2.jpg);
    background-repeat: no-repeat;
}
.header-whatwedo {
    background-image: url(img/banner\ 2.jpg);
    background-repeat: no-repeat;
}
.what-app:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.what-web:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.what-game:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.what-uxui:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.form-control {    
    background: transparent;
    border-radius: 0px;
    border: none;
    border: 0px;
    border-bottom: 1px solid #b3b3b3;
    outline: none;
}
.box input {
    padding: 15px 0;
    margin-bottom: 30px;
}
.box textarea {
    height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
}
.box input, .box textarea {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #999999;
}
.box textarea {
    margin-bottom: 20px;
}
.box form div {
    position: relative;
}
.box form div label{
    position: absolute;
    top: -15px;
    left: 0;
    color: #999999;
    transition: .5s
    ;pointer-events: none;
}
.box input:focus ~ label,
.box textarea:focus ~ label,
.box input:valid ~ label
.box textarea:valid ~ label{
    top: -25px;
    left: 0;
    color: blueviolet;
    font-weight: bold;
}
.box input:focus,
.box textarea:focus,
.box input:valid,
.box textarea:valid {
    box-shadow: none;
    border-bottom: 1px solid blueviolet;
}